html, body {
  background-color: #C5C5C5;
  height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.header {
  background-color: #F2D081;
  text-align: center;
}

.header h1 {
  font-weight: bold;
  margin: 40px;
}

#left-column, #right-column {
  margin-top: 30px;
}

#left-column {
  background-color: #71BA71;
  min-height: 100vh;
}

#section-heading {
  margin-top: 20px;
  padding-top: 10px;
  font-weight: bold;
}

#left-column, #left-column h3{
  font-weight: bold;
}

#left-column h3 {
  color: #FFE680;
}

#left-column p {
  color: #FFF;
}

#left-column a {
  color: #2B95CA;
}
